body {
    margin: 0;
    background-image: url("bball.jpg");
    text-align: center;
    justify-content: center;
    background-size: cover;
}

.score{
    font-size: 100px;
    color:crimson;
    margin: auto;
    left: 82px;
    height: 120px;
    width: 155px;
    background-color: black;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3{
    margin: 25;
    padding: 48;
    width: 149;
    height: 26;
    font-size: 35px;
    font-weight: bold;
    color:lightyellow;
}

button{
    margin-top: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border-color: black;
}

